# API Endpoint for React Native Mobile Application
# When developing locally on Android emulator, use: http://10.0.2.2:3000
# When developing on iOS simulator or Web, use: http://localhost:3000
# When running on physical device on local Wi-Fi, use your machine IP: http://192.168.x.x:3000
EXPO_PUBLIC_API_URL="http://localhost:3000"
