PORT=3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/personal_money_manager?schema=public"
JWT_SECRET="super-secret-money-manager-jwt-key-2026"
NODE_ENV="development"

# Mail Settings (Optional - For 2FA OTP & Password Resets)
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USERNAME="your_email@gmail.com"
MAIL_PASSWORD="your_gmail_app_password"
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS="noreply@personal-money-manager.com"
MAIL_FROM_NAME="Personal Money Manager"
